.leaflet-control-attribution{
  display: none;
}
.region-map{
  position: relative;
}

#progress {
  display: none;
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 6px;
  margin: 0;
}

#progress-bar {
  width: 0;
  height: 100%;
  background-color: $backgound_color;
}


.facets-map{
  height: 100vh;
}

.path-frontpage, .path-map, .path-groups, .path-prints{
  .content-header{
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    overflow: visible;
  }
}

#sidebar-map-results{
  .sidebar-btn{
    display: none;
  }
  &.active{
    .sidebar-btn{
      display: block;
    }
  }
  .view-content{
    padding: 10px;
    .views-row{
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
