.leaflet-control-attribution{
  display: none;
}
.region-map{
  position: relative;
}

#progress {
  display: none;
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 6px;
  margin: 0;
}

#progress-bar {
  width: 0;
  height: 100%;
  background-color: $backgound_color;
}


.facets-map{
  height: 50vh;
  @include tablet-sm {
    height: 60vh;
  }
}

.view-id-map, .view-id-groups, .view-id-prints{
  .view-content.owl-carousel{
    .owl-item{
      article.node,
      .views-row{
        height: 25vh;
      }
    }
  }
}
