@charset "UTF-8";
/* Media Querys */
@font-face {
  font-family: "fontello";
  src: url("../fonts/fontello/font/fontello.eot?8547953483");
  src: url("../fonts/fontello/font/fontello.eot?8547953483#iefix") format("embedded-opentype"), url("../fonts/fontello/font/fontello.woff2?8547953483") format("woff2"), url("../fonts/fontello/font/fontello.woff?8547953483") format("woff"), url("../fonts/fontello/font/fontello.ttf?8547953483") format("truetype"), url("../fonts/fontello/font/fontello.svg?8547953483#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "fontello";
    src: url("../fonts/fontello/font/fontello.svg?85479583#fontello") format("svg");
  }
}
form .field-group-tab.form-wrapper > .details-wrapper {
  padding: 20px;
}
form .field-group-tab.form-wrapper > summary {
  padding: 10px;
}
form #edit-timezone {
  padding: 0;
}
form #edit-timezone summary {
  display: none;
}
form select.form-select {
  max-width: 100%;
  min-width: 100px;
}
form .field--type-language-field .tabledrag-toggle-weight-wrapper {
  display: none;
}
form .field--type-language-field .draggable .field-multiple-drag {
  display: none;
}
form .captcha {
  display: inline-block;
  margin-top: 20px;
}

.popup-entity-popup {
  max-width: 90vw;
  max-height: 90vh;
}
.popup-entity-popup ul {
  padding-left: 15px;
}

.node--type-services.node--view-mode-full {
  margin-top: 40px;
}
.node--type-services.node--view-mode-full .node__content {
  overflow: hidden;
}
.node--type-services.node--view-mode-full .group-left {
  float: left;
  padding: 0 20px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .node--type-services.node--view-mode-full .group-left {
    width: 50%;
  }
}
@media only screen and (min-width: 1025px) {
  .node--type-services.node--view-mode-full .group-left {
    width: 35%;
  }
}
@media only screen and (min-width: 1600px) {
  .node--type-services.node--view-mode-full .group-left {
    width: 25%;
  }
}
.node--type-services.node--view-mode-full .group-center {
  float: left;
  padding: 0 20px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .node--type-services.node--view-mode-full .group-center {
    width: 50%;
  }
}
@media only screen and (min-width: 1025px) {
  .node--type-services.node--view-mode-full .group-center {
    width: 65%;
  }
}
@media only screen and (min-width: 1600px) {
  .node--type-services.node--view-mode-full .group-center {
    width: 75%;
  }
}
.node--type-services.node--view-mode-full .field__label {
  font-weight: bold;
  text-transform: uppercase;
}
.node--type-services.node--view-mode-full .field {
  margin-bottom: 15px;
}
.node--type-services.node--view-mode-full #calendar table {
  margin: 0;
}
.node--type-services.node--view-mode-full .view-author-profile-teaser {
  margin-bottom: 30px;
}
.node--type-services.node--view-mode-full .field--type-entity-reference .field__items .field__item {
  display: inline-block;
}
.node--type-services.node--view-mode-full .field--type-entity-reference .field__items .field__item:after {
  content: ", ";
}
.node--type-services.node--view-mode-full .field--type-entity-reference .field__items .field__item:last-child:after {
  display: none;
}
.node--type-services.node--view-mode-full .field--name-field-service-type {
  font-size: 1.8em;
  background-color: #f5f5f5;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
}
.node--type-services.node--view-mode-full .field--type-commerce-price {
  background-color: #f5f5f5;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}
.node--type-services.node--view-mode-full .private_message_link_wrapper {
  display: block;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .node--type-services.node--view-mode-full .private_message_link_wrapper {
    position: initial;
    bottom: initial;
    left: initial;
    margin-bottom: 45px;
  }
}
.node--type-services.node--view-mode-full .private_message_link_wrapper a.private_message_link {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 15px 24px;
  background-color: #f5f5f5;
  color: #333;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-font-smoothing: antialiased;
  border: 1px solid #b8b8b8;
  margin-left: 0;
  margin-top: 20px;
  min-width: 100px;
  width: 100%;
  height: auto;
  border-radius: 0;
  background-color: #4897bc;
  border-color: #4897bc;
  color: #fff;
}
.node--type-services.node--view-mode-full .button {
  margin-bottom: 20px;
}
.node--type-services.node--view-mode-full .flag {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 auto;
  margin-bottom: 20px;
}
.node--type-services.node--view-mode-teaser {
  text-align: center;
  width: 100%;
  border: 1px solid #f5f5f5;
  padding: 20px 10%;
  background-color: #fff;
  position: relative;
}
.node--type-services.node--view-mode-teaser a {
  color: #222;
  text-decoration: none;
}
.node--type-services.node--view-mode-teaser h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 15px;
}
.node--type-services.node--view-mode-teaser div.lat, .node--type-services.node--view-mode-teaser div.lng {
  display: none;
}
.node--type-services.node--view-mode-teaser .profile {
  margin: 20px 0;
}
.node--type-services.node--view-mode-teaser .view-more {
  background-color: #4897bc;
  border-color: #4897bc;
  margin-top: 20px;
}
.node--type-services.node--view-mode-teaser .flag {
  position: absolute;
  top: 0;
  right: 0;
}
.node--type-services.node--view-mode-teaser .flag a:before {
  padding: 10px !important;
}
.node--type-services.node--view-mode-teaser:hover {
  background-color: #f5f5f5;
}
.node--type-services.node--view-mode-teaser:hover .view-more {
  background-color: #387a99;
}
.node--type-services.node--view-mode-teaser .field--type-commerce-price {
  font-size: 1.55em;
}
.node--type-services .flag a {
  font-size: 0;
}
.node--type-services .flag a:before {
  content: "";
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  padding-right: 1.3em;
  color: #4897bc;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  font-size: 1.3rem;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}
.node--type-services .flag a:before {
  font-size: 30px !important;
  padding: 0 !important;
}
.node--type-services .flag a:hover {
  text-decoration: none;
}
.node--type-services .flag.action-unflag a {
  font-size: 0;
}
.node--type-services .flag.action-unflag a:before {
  content: "";
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  padding-right: 1.3em;
  color: #4897bc;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  font-size: 1.3rem;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.node--type-page.node--view-mode-full {
  margin: 0 auto;
  width: 90%;
  max-width: 960px;
  padding: 30px 0;
}

.node--type-prints.node--view-mode-full {
  margin-top: 40px;
}
.node--type-prints.node--view-mode-full .node__content {
  overflow: hidden;
}
.node--type-prints.node--view-mode-full .group-left {
  float: left;
  padding: 0 20px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .node--type-prints.node--view-mode-full .group-left {
    width: 50%;
  }
}
@media only screen and (min-width: 1025px) {
  .node--type-prints.node--view-mode-full .group-left {
    width: 35%;
  }
}
@media only screen and (min-width: 1600px) {
  .node--type-prints.node--view-mode-full .group-left {
    width: 25%;
  }
}
.node--type-prints.node--view-mode-full .group-center {
  float: left;
  padding: 0 20px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .node--type-prints.node--view-mode-full .group-center {
    width: 50%;
  }
}
@media only screen and (min-width: 1025px) {
  .node--type-prints.node--view-mode-full .group-center {
    width: 65%;
  }
}
@media only screen and (min-width: 1600px) {
  .node--type-prints.node--view-mode-full .group-center {
    width: 75%;
  }
}
.node--type-prints.node--view-mode-full .field__label {
  font-weight: bold;
  text-transform: uppercase;
}
.node--type-prints.node--view-mode-full .field {
  margin-bottom: 15px;
}
.node--type-prints.node--view-mode-full #calendar table {
  margin: 0;
}
.node--type-prints.node--view-mode-full .view-author-profile-teaser {
  margin-bottom: 30px;
}
.node--type-prints.node--view-mode-full .field--type-entity-reference .field__items .field__item {
  display: inline-block;
}
.node--type-prints.node--view-mode-full .field--type-entity-reference .field__items .field__item:after {
  content: ", ";
}
.node--type-prints.node--view-mode-full .field--type-entity-reference .field__items .field__item:last-child:after {
  display: none;
}
.node--type-prints.node--view-mode-full .field--name-field-service-type {
  font-size: 1.8em;
  background-color: #f5f5f5;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
}
.node--type-prints.node--view-mode-full .field--type-commerce-price {
  background-color: #f5f5f5;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}
.node--type-prints.node--view-mode-full .private_message_link_wrapper {
  display: block;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .node--type-prints.node--view-mode-full .private_message_link_wrapper {
    position: initial;
    bottom: initial;
    left: initial;
    margin-bottom: 45px;
  }
}
.node--type-prints.node--view-mode-full .private_message_link_wrapper a.private_message_link {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 15px 24px;
  background-color: #f5f5f5;
  color: #333;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-font-smoothing: antialiased;
  border: 1px solid #b8b8b8;
  margin-left: 0;
  margin-top: 20px;
  min-width: 100px;
  width: 100%;
  height: auto;
  border-radius: 0;
  background-color: #4897bc;
  border-color: #4897bc;
  color: #fff;
}
.node--type-prints.node--view-mode-full .button {
  margin-bottom: 20px;
}
.node--type-prints.node--view-mode-full .flag {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 auto;
  margin-bottom: 20px;
}
.node--type-prints.node--view-mode-teaser {
  text-align: center;
  width: 100%;
  border: 1px solid #f5f5f5;
  padding: 20px 10%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.node--type-prints.node--view-mode-teaser a {
  color: #222;
  text-decoration: none;
}
.node--type-prints.node--view-mode-teaser h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 15px;
}
.node--type-prints.node--view-mode-teaser div.lat, .node--type-prints.node--view-mode-teaser div.lng {
  display: none;
}
.node--type-prints.node--view-mode-teaser:hover {
  background-color: #f5f5f5;
}
.node--type-prints.node--view-mode-teaser:hover .view-more {
  background-color: #387a99;
}
.node--type-prints.node--view-mode-teaser .field.field--label-inline .field__label {
  font-weight: bold;
  display: inline-block;
}
.node--type-prints.node--view-mode-teaser .field.field--label-inline .field__label:after {
  content: ":";
}
.node--type-prints.node--view-mode-teaser .field.field--label-inline .field__item {
  display: inline-block;
}
.node--type-prints.node--view-mode-teaser .field--type-image img {
  width: auto !important;
  margin: 0 auto;
  max-width: 100% !important;
}

.node--type-news.node--view-mode-full {
  margin: 0 auto;
  width: 90%;
  max-width: 960px;
  padding: 0;
}
.node--type-news.node--view-mode-full a {
  word-break: break-word;
}
.node--type-news.node--view-mode-full .field--name-field-image img {
  width: 100%;
  height: auto;
}
.node--type-news.node--view-mode-full .field--name-field-date {
  font-size: 12px;
  color: #666;
  font-style: italic;
}

article.profile .field--name-user-picture img {
  border-radius: 50%;
  width: 100%;
  height: auto;
}
article.profile .field--type-language-field .field__item {
  display: inline-block;
}
article.profile .field--type-language-field .field__item p {
  display: inline-block;
  margin: 0;
}
article.profile .field--type-language-field .field__item:after {
  content: ", ";
}
article.profile .field--type-language-field .field__item:last-child:after {
  display: none;
}
article.profile.profile--view-mode-compact {
  text-align: center;
  margin-bottom: 30px;
}
article.profile.profile--view-mode-compact .group_content {
  display: inline-block;
  vertical-align: middle;
}
article.profile.profile--view-mode-compact .group_content .group_content_header .field, article.profile.profile--view-mode-compact .group_content .group_content_header .form-item, article.profile.profile--view-mode-compact .group_content .group_content_middle .field, article.profile.profile--view-mode-compact .group_content .group_content_middle .form-item, article.profile.profile--view-mode-compact .group_content .group_content_bottom .field, article.profile.profile--view-mode-compact .group_content .group_content_bottom .form-item {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 5px;
}
article.profile.profile--view-mode-compact .group_content .group_content_header .form-item h4, article.profile.profile--view-mode-compact .group_content .group_content_middle .form-item h4, article.profile.profile--view-mode-compact .group_content .group_content_bottom .form-item h4 {
  font-weight: normal;
  display: inline-block;
}
article.profile.profile--view-mode-compact .group_content .group_content_header {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.2em;
}
article.profile.profile--view-mode-compact .group_content .group_content_header .field {
  margin-right: 6px;
}
article.profile.profile--view-mode-compact .field--name-user-picture {
  width: 25%;
  min-width: 150px;
  max-width: 250px;
  margin-right: 30px;
  display: inline-block;
  vertical-align: middle;
}
article.profile.profile--view-mode-teaser .field--name-user-picture {
  width: 25%;
  max-width: 250px;
  margin-right: 30px;
  display: inline-block;
  vertical-align: middle;
}
article.profile.profile--view-mode-teaser .field--name-field-name {
  display: inline-block;
  font-size: 1.5em;
}
article.profile.profile--view-mode-full {
  margin-top: 40px;
}
article.profile.profile--view-mode-full > .left {
  display: inline-block;
  vertical-align: top;
  margin: 0 -4px;
  margin-bottom: 30px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  article.profile.profile--view-mode-full > .left {
    width: 66%;
  }
}
@media only screen and (min-width: 1200px) {
  article.profile.profile--view-mode-full > .left {
    width: 70%;
  }
}
@media only screen and (min-width: 1600px) {
  article.profile.profile--view-mode-full > .left {
    width: 75%;
  }
}
article.profile.profile--view-mode-full > .left .field--name-user-picture {
  max-width: 300px;
}
article.profile.profile--view-mode-full > .right {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  article.profile.profile--view-mode-full > .right {
    width: 33%;
  }
}
@media only screen and (min-width: 1200px) {
  article.profile.profile--view-mode-full > .right {
    width: 30%;
  }
}
@media only screen and (min-width: 1600px) {
  article.profile.profile--view-mode-full > .right {
    width: 25%;
  }
}

.leaflet-control-attribution {
  display: none;
}

.region-map {
  position: relative;
}

.facets-map {
  width: 100%;
  min-height: 150px;
  z-index: 9;
}
.facets-map .leaflet-popup-content {
  width: auto;
  min-width: 200px;
  max-width: 350px;
}
.facets-map .leaflet-popup-content a {
  display: block;
  width: 100%;
  color: #222;
  text-decoration: none !important;
}
.facets-map .leaflet-popup-content .title {
  font-size: 15px;
  margin-bottom: 5px;
}
.facets-map .leaflet-popup-content .lat, .facets-map .leaflet-popup-content .lng {
  display: none;
}
.facets-map .leaflet-popup-content .popup-link {
  width: 100%;
  text-align: center;
  margin: 10px 0 0 0;
}
.facets-map .leaflet-popup-content:hover .popup-link {
  text-decoration: underline;
}
.facets-map .pointer-map {
  position: relative;
}
.facets-map .pointer-map:before {
  content: "";
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  padding-right: 1.3em;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  font-size: 1.3rem;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}
.facets-map .pointer-map:before {
  position: relative;
  top: 0;
  left: 50%;
  font-size: 30px;
  transform: translate(-50%, -80%);
  padding: 0;
  margin: 0;
}
.facets-map .marker-cluster {
  background-color: rgba(69, 85, 102, 0.6);
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: 700;
  border: 0;
}
.facets-map .marker-cluster:before {
  content: " ";
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  background-color: rgba(69, 85, 102, 0.8);
}
.facets-map .digits-1 {
  font-size: 16px;
  height: 28px;
  width: 28px;
  line-height: 28px;
  margin-top: -14px;
  margin-left: -14px;
}
.facets-map .digits-2 {
  font-size: 16px;
  height: 32px;
  width: 32px;
  line-height: 32px;
  margin-top: -16px;
  margin-left: -16px;
}
.facets-map .digits-3 {
  font-size: 18px;
  height: 46px;
  width: 46px;
  line-height: 46px;
  margin-top: -23px;
  margin-left: -23px;
}
.facets-map .digits-4 {
  font-size: 18px;
  height: 58px;
  width: 58px;
  line-height: 58px;
  margin-top: -29px;
  margin-left: -29px;
}
.facets-map .digits-5 {
  font-size: 18px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  margin-top: -35px;
  margin-left: -35px;
}
.facets-map .digits-6 {
  font-size: 18px;
  height: 82px;
  width: 82px;
  line-height: 82px;
  margin-top: -41px;
  margin-left: -41px;
}

#progress {
  display: none;
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 6px;
  margin: 0;
}

#progress-bar {
  width: 0;
  height: 100%;
  background-color: #455566;
}

.view-id-my_services > h2 {
  text-align: center;
  margin-bottom: 20px;
}

.view-id-my_favorites .view-content > .views-row {
  display: inline-block;
  vertical-align: middle;
  margin: 0 -4px;
  padding: 10px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .view-id-my_favorites .view-content > .views-row {
    width: 50%;
  }
}
@media only screen and (min-width: 1200px) {
  .view-id-my_favorites .view-content > .views-row {
    width: 33%;
  }
}
@media only screen and (min-width: 1600px) {
  .view-id-my_favorites .view-content > .views-row {
    width: 25%;
  }
}

.view-id-map .view-content.owl-carousel, .view-id-groups .view-content.owl-carousel, .view-id-prints .view-content.owl-carousel {
  display: block;
  padding: 5px 0;
  position: relative;
}
.view-id-map .view-content.owl-carousel .views-infinite-scroll-content-wrapper > .views-row, .view-id-groups .view-content.owl-carousel .views-infinite-scroll-content-wrapper > .views-row, .view-id-prints .view-content.owl-carousel .views-infinite-scroll-content-wrapper > .views-row {
  display: none;
}
.view-id-map .view-content.owl-carousel .owl-item, .view-id-groups .view-content.owl-carousel .owl-item, .view-id-prints .view-content.owl-carousel .owl-item {
  padding: 5px;
  opacity: 0.6;
}
.view-id-map .view-content.owl-carousel .owl-item.active, .view-id-groups .view-content.owl-carousel .owl-item.active, .view-id-prints .view-content.owl-carousel .owl-item.active {
  opacity: 1;
}
.view-id-map .view-content.owl-carousel .owl-dots, .view-id-groups .view-content.owl-carousel .owl-dots, .view-id-prints .view-content.owl-carousel .owl-dots {
  display: none;
}
.view-id-map .view-content.owl-carousel .owl-nav .owl-prev, .view-id-map .view-content.owl-carousel .owl-nav .owl-next, .view-id-groups .view-content.owl-carousel .owl-nav .owl-prev, .view-id-groups .view-content.owl-carousel .owl-nav .owl-next, .view-id-prints .view-content.owl-carousel .owl-nav .owl-prev, .view-id-prints .view-content.owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0.6;
}
.view-id-map .view-content.owl-carousel .owl-nav .owl-prev.disabled, .view-id-map .view-content.owl-carousel .owl-nav .owl-next.disabled, .view-id-groups .view-content.owl-carousel .owl-nav .owl-prev.disabled, .view-id-groups .view-content.owl-carousel .owl-nav .owl-next.disabled, .view-id-prints .view-content.owl-carousel .owl-nav .owl-prev.disabled, .view-id-prints .view-content.owl-carousel .owl-nav .owl-next.disabled {
  display: none;
}
.view-id-map .view-content.owl-carousel .owl-nav .owl-prev:hover, .view-id-map .view-content.owl-carousel .owl-nav .owl-next:hover, .view-id-groups .view-content.owl-carousel .owl-nav .owl-prev:hover, .view-id-groups .view-content.owl-carousel .owl-nav .owl-next:hover, .view-id-prints .view-content.owl-carousel .owl-nav .owl-prev:hover, .view-id-prints .view-content.owl-carousel .owl-nav .owl-next:hover {
  opacity: 1;
}
.view-id-map .view-content.owl-carousel .owl-nav .owl-prev span, .view-id-map .view-content.owl-carousel .owl-nav .owl-next span, .view-id-groups .view-content.owl-carousel .owl-nav .owl-prev span, .view-id-groups .view-content.owl-carousel .owl-nav .owl-next span, .view-id-prints .view-content.owl-carousel .owl-nav .owl-prev span, .view-id-prints .view-content.owl-carousel .owl-nav .owl-next span {
  font-size: 70px;
  padding: 10px;
  margin-top: -40px;
  display: inline-block;
}
.view-id-map .view-content.owl-carousel .owl-nav .owl-next, .view-id-groups .view-content.owl-carousel .owl-nav .owl-next, .view-id-prints .view-content.owl-carousel .owl-nav .owl-next {
  left: initial;
  right: 0;
}
.view-id-map .view-empty, .view-id-groups .view-empty, .view-id-prints .view-empty {
  width: 100%;
  padding: 20px 10%;
  background-color: #fff;
  position: relative;
  text-align: center;
}
.view-id-map .pager, .view-id-groups .pager, .view-id-prints .pager {
  margin: 0;
}
.view-id-map .pager__item, .view-id-groups .pager__item, .view-id-prints .pager__item {
  display: none;
}

body.path-prints .page-content,
body.path-map .page-content,
body.path-frontpage .page-content,
body.path-groups .page-content {
  margin: 0;
}

.view-id-news {
  margin: 0 auto;
  width: 90%;
  max-width: 960px;
  padding: 30px 0;
}
.view-id-news .view-content .views-row {
  width: 100%;
  border: 1px solid #f5f5f5;
  padding: 20px;
  background-color: #EEE;
  position: relative;
}
.view-id-news .view-content .views-row .views-field-label {
  padding-bottom: 30px;
}
.view-id-news .view-content .views-row .wrapper-news {
  overflow: hidden;
}
.view-id-news .view-content .views-row .wrapper-news div {
  float: left;
  width: 23%;
  margin-right: 2%;
}
.view-id-news .view-content .views-row .wrapper-news div img {
  width: 100%;
  height: auto;
}
.view-id-news .view-content .views-row .wrapper-news div + div {
  margin-right: 0;
  width: 75%;
}
.view-id-news .view-content .views-row .wrapper-news div + div time {
  font-size: 12px;
  color: #666;
  font-style: italic;
}
.view-id-news .view-content .views-row .wrapper-news div + div .title-news {
  clear: both;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  width: 100%;
}
.view-id-news .view-content .views-row .wrapper-news div + div .body-news {
  clear: both;
  font-size: 14px;
  line-height: 19px;
}

@media all and (max-width: 768px) {
  .view-id-news .view-content .views-row .wrapper-news div {
    float: left;
    width: 100%;
    margin-right: 0%;
  }
  .view-id-news .view-content .views-row .wrapper-news div + div {
    margin-right: 0;
    width: 100%;
  }
}
.view-id-messages .view-content .views-row {
  margin-bottom: 20px;
}
.view-id-messages .view-content .views-row .private-message-thread-inbox {
  border: 1px solid #f5f5f5;
  padding: 15px;
}
.view-id-messages .view-content .views-row .private-message-thread-inbox:hover {
  background-color: #f5f5f5;
}
.view-id-messages .view-content .views-row .private-message-thread-inbox .message-link {
  display: block;
  color: #222;
  text-decoration: none;
}
.view-id-messages .view-content .views-row .private-message-thread-inbox .private-message-recipients {
  max-width: 60px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}
.view-id-messages .view-content .views-row .private-message-thread-inbox .private-message-inbox {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.view-id-messages .view-content .views-row .private-message-thread-inbox .private-message-inbox .field--name-owner {
  display: none;
}
.view-id-messages .view-content .views-row .private-message-thread-inbox .private-message-inbox .field--type-created {
  font-size: 0.9em;
}
.view-id-groups .view-content .views-row {
  text-align: center;
  width: 100%;
  border: 1px solid #f5f5f5;
  padding: 20px 10%;
  background-color: #fff;
  position: relative;
}
.view-id-groups .view-content .views-row .views-field-label {
  padding-bottom: 30px;
}

.facets-map {
  position: relative;
  width: 100%;
  min-height: 150px;
  height: 50vh;
}
@media only screen and (min-width: 768px) {
  .facets-map {
    height: 60vh;
  }
}

.view-id-map .view-content.owl-carousel .owl-item article.node,
.view-id-map .view-content.owl-carousel .owl-item .views-row, .view-id-groups .view-content.owl-carousel .owl-item article.node,
.view-id-groups .view-content.owl-carousel .owl-item .views-row, .view-id-prints .view-content.owl-carousel .owl-item article.node,
.view-id-prints .view-content.owl-carousel .owl-item .views-row {
  height: 25vh;
}

.facets-widget-checkbox h3 {
  font-size: 1em;
}
.facets-widget-checkbox ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.facets-widget-checkbox ul li {
  position: relative;
}
.facets-widget-checkbox ul li input {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 8px 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.facets-widget-checkbox ul li label {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  margin: 0;
  padding: 0 15px 0 25px;
}
.facets-widget-checkbox ul li label .facet-item__count {
  font-size: 0.8em;
}

.sidebar {
  position: fixed;
  z-index: 999;
  left: -280px;
  top: 0;
  width: 280px;
  height: 100%;
  padding: 0;
  background: #f5f5f5;
  transition: all 0.2s ease-out;
}
.sidebar .block {
  padding: 10px 20px;
}
.sidebar .sidebar-btn {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 280px;
  z-index: 11;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.sidebar .sidebar-btn:hover {
  opacity: 0.9;
}
.sidebar .sidebar-btn div {
  font-size: 2em;
  line-height: 80px;
  font-weight: 300;
  border-radius: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  background: transparent;
  border-style: solid;
  border-width: 80px 0 0 80px;
  border-color: transparent transparent transparent #4e5f70;
}
.sidebar .sidebar-btn div:before {
  content: "";
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  padding-right: 1.3em;
  color: #fff;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  font-size: 1.3rem;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}
.sidebar .sidebar-btn div:before {
  position: absolute;
  display: inline-block;
  bottom: 10px;
  left: 10px;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
.sidebar.active {
  left: 0;
  -o-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.sidebar.active .sidebar-btn div:before {
  content: "";
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  padding-right: 1.3em;
  color: #fff;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  font-size: 1.3rem;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}
.sidebar.active .sidebar-btn div:before {
  position: absolute;
  display: inline-block;
  bottom: 10px;
  left: 10px;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
.sidebar.right {
  right: -280px;
  left: initial;
}
.sidebar.right .sidebar-btn {
  top: 0;
  bottom: initial;
  right: 280px;
  left: initial;
}
.sidebar.right .sidebar-btn div {
  border-style: solid;
  border-width: 0 80px 80px 0;
  border-color: transparent #4e5f70 transparent transparent;
}
.sidebar.right .sidebar-btn div:before {
  content: "";
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  padding-right: 1.3em;
  color: #fff;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  font-size: 1.3rem;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}
.sidebar.right .sidebar-btn div:before {
  position: absolute;
  display: inline-block;
  font-size: 1em;
  margin: 0;
  padding: 0;
  top: 10px;
  bottom: initial;
  right: 10px;
  left: initial;
}
.sidebar.right.active {
  right: 0;
  left: initial;
}
.sidebar.right.active .sidebar-btn div:before {
  content: "";
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  padding-right: 1.3em;
  color: #fff;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  font-size: 1.3rem;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}
.sidebar.right.active .sidebar-btn div:before {
  position: absolute;
  display: inline-block;
  font-size: 1em;
  margin: 0;
  padding: 0;
  top: 10px;
  bottom: initial;
  right: 10px;
  left: initial;
}
.sidebar .sidebar-content {
  overflow-y: auto;
  height: 100%;
}

.block-language {
  text-align: center;
}
.block-language ul.links {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.block-language ul.links li {
  display: inline-block;
}
.block-language ul.links li:last-child {
  padding: 0;
}
.block-language ul.links li a {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 13px 24px;
  background-color: #f5f5f5;
  color: #333;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-font-smoothing: antialiased;
  border: 1px solid #b8b8b8;
  margin-left: 0;
  min-width: 100px;
  width: 100%;
  height: auto;
  border-radius: 0;
  padding: 13px 24px;
  background-color: #7cbc48;
  border-color: #7cbc48;
  color: #fff;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  padding: 6px 10px;
}
.block-language ul.links li a:hover, .block-language ul.links li a:focus, .block-language ul.links li a.is-active {
  background-color: white;
  border-color: #0678be;
  color: #0678be;
  text-decoration: none;
  outline: transparent;
}
.block-language ul.links li a:hover, .block-language ul.links li a:focus, .block-language ul.links li a.is-active {
  background-color: #6aab35;
  border-color: #6aab35;
  color: #fff;
}

.sidebar .block-menu {
  text-align: center;
}
.sidebar .block-menu ul.menu {
  list-style: none;
  margin: 0;
  padding: 30px 0;
}
.sidebar .block-menu ul.menu li {
  padding: 10px 0;
  display: block;
}
.sidebar .block-menu ul.menu li a {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 13px 24px;
  background-color: #f5f5f5;
  color: #333;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-font-smoothing: antialiased;
  border: 1px solid #b8b8b8;
  margin-left: 0;
  min-width: 100px;
  width: 100%;
  height: auto;
  border-radius: 0;
}
.sidebar .block-menu ul.menu li a:hover, .sidebar .block-menu ul.menu li a:focus, .sidebar .block-menu ul.menu li a.is-active {
  background-color: white;
  border-color: #0678be;
  color: #0678be;
  text-decoration: none;
  outline: transparent;
}
.sidebar .block-menu.menu--footer {
  opacity: 0.8;
}
.sidebar .block-menu.menu--footer li a {
  font-size: 0.75em !important;
}

.block-menu.menu--map-menu {
  position: absolute;
  z-index: 700;
  top: 10px;
  right: 15px;
}
.block-menu.menu--map-menu ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.block-menu.menu--map-menu ul.menu li {
  padding: 5px 0;
  display: block;
}
.block-menu.menu--map-menu ul.menu li a {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 13px 24px;
  background-color: #f5f5f5;
  color: #333;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-font-smoothing: antialiased;
  border: 1px solid #b8b8b8;
  margin-left: 0;
  min-width: 100px;
  width: 100%;
  height: auto;
  border-radius: 0;
  padding: 10px;
  min-width: initial;
  font-size: 0;
}
.block-menu.menu--map-menu ul.menu li a:hover, .block-menu.menu--map-menu ul.menu li a:focus, .block-menu.menu--map-menu ul.menu li a.is-active {
  background-color: white;
  border-color: #0678be;
  color: #0678be;
  text-decoration: none;
  outline: transparent;
}
.block-menu.menu--map-menu ul.menu li a:before {
  margin: 0 !important;
  padding: 0 !important;
}
.block-menu.menu--map-menu ul.menu li a:before {
  content: "";
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  padding-right: 1.3em;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  font-size: 1.3rem;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}
.block-menu.menu--map-menu ul.menu li:first-child a {
  font-size: 0;
}
.block-menu.menu--map-menu ul.menu li:first-child a:before {
  content: "";
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  padding-right: 1.3em;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  font-size: 1.3rem;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}
.block-menu.menu--map-menu ul.menu li:last-child a {
  font-size: 0;
}
.block-menu.menu--map-menu ul.menu li:last-child a:before {
  content: "";
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  padding-right: 1.3em;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  font-size: 1.3rem;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}
@media only screen and (min-width: 768px) {
  .block-menu.menu--map-menu ul.menu li a {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 13px 24px;
    background-color: #f5f5f5;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-font-smoothing: antialiased;
    border: 1px solid #b8b8b8;
    margin-left: 0;
    min-width: 100px;
    width: 100%;
    height: auto;
    border-radius: 0;
    position: relative;
    padding-left: 2.5em;
    padding-left: 50px !important;
  }
  .block-menu.menu--map-menu ul.menu li a:hover, .block-menu.menu--map-menu ul.menu li a:focus, .block-menu.menu--map-menu ul.menu li a.is-active {
    background-color: white;
    border-color: #0678be;
    color: #0678be;
    text-decoration: none;
    outline: transparent;
  }
  .block-menu.menu--map-menu ul.menu li a:before {
    content: "";
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    padding-right: 1.3em;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: 0.2em;
    /* you can be more comfortable with increased icons size */
    font-size: 1.3rem;
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
  }
  .block-menu.menu--map-menu ul.menu li a:before {
    position: absolute;
    left: 0.7em;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
  }
  .block-menu.menu--map-menu ul.menu li a:before {
    font-size: 2em !important;
  }
  .block-menu.menu--map-menu ul.menu li:first-child a {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 13px 24px;
    background-color: #f5f5f5;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-font-smoothing: antialiased;
    border: 1px solid #b8b8b8;
    margin-left: 0;
    min-width: 100px;
    width: 100%;
    height: auto;
    border-radius: 0;
    position: relative;
    padding-left: 2.5em;
  }
  .block-menu.menu--map-menu ul.menu li:first-child a:hover, .block-menu.menu--map-menu ul.menu li:first-child a:focus, .block-menu.menu--map-menu ul.menu li:first-child a.is-active {
    background-color: white;
    border-color: #0678be;
    color: #0678be;
    text-decoration: none;
    outline: transparent;
  }
  .block-menu.menu--map-menu ul.menu li:first-child a:before {
    content: "";
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    padding-right: 1.3em;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: 0.2em;
    /* you can be more comfortable with increased icons size */
    font-size: 1.3rem;
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
  }
  .block-menu.menu--map-menu ul.menu li:first-child a:before {
    position: absolute;
    left: 0.7em;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
  }
  .block-menu.menu--map-menu ul.menu li:last-child a {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 13px 24px;
    background-color: #f5f5f5;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-font-smoothing: antialiased;
    border: 1px solid #b8b8b8;
    margin-left: 0;
    min-width: 100px;
    width: 100%;
    height: auto;
    border-radius: 0;
    position: relative;
    padding-left: 2.5em;
  }
  .block-menu.menu--map-menu ul.menu li:last-child a:hover, .block-menu.menu--map-menu ul.menu li:last-child a:focus, .block-menu.menu--map-menu ul.menu li:last-child a.is-active {
    background-color: white;
    border-color: #0678be;
    color: #0678be;
    text-decoration: none;
    outline: transparent;
  }
  .block-menu.menu--map-menu ul.menu li:last-child a:before {
    content: "";
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    padding-right: 1.3em;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: 0.2em;
    /* you can be more comfortable with increased icons size */
    font-size: 1.3rem;
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
  }
  .block-menu.menu--map-menu ul.menu li:last-child a:before {
    position: absolute;
    left: 0.7em;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
  }
}

#private-message-page .private-message-thread-messages {
  background-color: #f5f5f5;
  padding: 15px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  overflow-y: scroll;
  height: 535px;
}
#private-message-page .private-message-thread-messages::-webkit-scrollbar {
  width: 0;
  background: transparent;
  /* make scrollbar transparent */
}
#private-message-page .private-message-thread-messages .load-previous-position-before {
  text-align: center;
  margin: 10px 0 20px 0;
}
#private-message-page .private-message-thread-messages .load-previous-position-before a {
  display: inline-block;
}
#private-message-page .private-message-thread-messages .private-message {
  position: relative;
  padding: 0 0 15px 0;
  margin-bottom: 10px;
  overflow: hidden;
}
#private-message-page .private-message-thread-messages .private-message .contextual-region {
  position: initial;
}
#private-message-page .private-message-thread-messages .private-message .field--type-created {
  position: absolute;
  bottom: 2px;
  font-size: 8px;
}
#private-message-page .private-message-thread-messages .private-message .field--type-text-long {
  display: inline-block;
  max-width: 80%;
  padding: 5px 10px;
  background-color: #6455ab;
  color: #fff;
}
#private-message-page .private-message-thread-messages .private-message .field--name-owner {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  display: inline-block;
  width: 45px;
  height: 45px;
}
#private-message-page .private-message-thread-messages .private-message.private-message-author-other .field--name-owner {
  left: 0;
}
#private-message-page .private-message-thread-messages .private-message.private-message-author-other .field--type-created {
  left: 50px;
}
#private-message-page .private-message-thread-messages .private-message.private-message-author-other .field--type-text-long {
  border-radius: 15px 15px 15px 0;
  float: left;
  margin-left: 50px;
}
#private-message-page .private-message-thread-messages .private-message.private-message-author-self .field--name-owner {
  right: 0;
}
#private-message-page .private-message-thread-messages .private-message.private-message-author-self .field--type-created {
  right: 50px;
}
#private-message-page .private-message-thread-messages .private-message.private-message-author-self .field--type-text-long {
  border-radius: 15px 15px 0 15px;
  float: right;
  margin-right: 50px;
}
#private-message-page .private-message-form label {
  display: none;
}

/*# sourceMappingURL=style.css.map */
