.view-id-my_favorites{
  .view-content{
    > .views-row{
      display: inline-block;
      vertical-align: middle;
      margin: 0 -4px;
      padding: 10px;
      width: 100%;
      @include tablet-sm {
        width: 50%;
      }
      @include desktop-lg {
        width: 33%;
      }
      @include desktop-xl {
        width: 25%;
      }
    }
  }
}
