.block-language{
  text-align: center;
  ul.links{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    li{
      display: inline-block;
      &:last-child{
        padding: 0;
      }
      a{
        @include button--primary;
        font-size: 12px;
        padding: 6px 10px;
      }
    }
  }
}
