{% extends 'page.html.twig' %}
{% set body_class = 'layout-no-container' %}

{% block sidebar_first %}
  {% if page.sidebar_first %}
    <div id="sidebar-first" class="sidebar left">
      <div class="sidebar-btn search"><div></div></div>
      <div class="sidebar-content">
        {{ page.sidebar_first }}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div id="sidebar-map-results" class="sidebar left">
    <div class="sidebar-btn map-results"><div></div></div>
    <div class="sidebar-content">
      {{ page.content }}
    </div>
  </div>
{% endblock %}
