.sidebar{
  position: fixed;
  z-index: 999;
  left: -280px;
  top: 0;
  width: 280px;
  height: 100%;
  padding: 0;
  background: $grey;
  transition: all .2s ease-out;
  .block{
    padding: 10px 20px;
  }
  .sidebar-btn{
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 280px;
    z-index: 11;
    cursor: pointer;
    transition: all .2s ease-out;
    &:hover{
      opacity: 0.9;
    }
    div{
      font-size: 2em;
      line-height: 80px;
      font-weight: 300;
      border-radius: 0;
      padding: 0;
      margin: 0;
      outline: 0;
      background: transparent;

      border-style: solid;
      border-width: 80px 0 0 80px;
      border-color: transparent transparent transparent $color_text;
      @include icon('search', $white);
      &:before{
        position: absolute;
        display: inline-block;
        bottom: 10px;
        left: 10px;
        font-size: 1em;
        margin: 0;
        padding: 0;
      }
    }
  }
  &.active{
    left: 0;
    -o-box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
    box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22), 0 25px 55px 0 rgba(0,0,0,0.21);
    .sidebar-btn{
      div{
        @include icon('cancel', $white);
        &:before{
          position: absolute;
          display: inline-block;
          bottom: 10px;
          left: 10px;
          font-size: 1em;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
  &.right{
    right: -280px;
    left: initial;
    .sidebar-btn{
      top: 0;
      bottom: initial;
      right: 280px;
      left: initial;
      div{
        border-style: solid;
        border-width: 0 80px 80px 0;
        border-color: transparent $color_text transparent transparent;
        @include icon('menu', $white);
        &:before{
          position: absolute;
          display: inline-block;
          font-size: 1em;
          margin: 0;
          padding: 0;
          top: 10px;
          bottom: initial;
          right: 10px;
          left: initial;
        }
      }
    }
    &.active{
      right: 0;
      left: initial;
      .sidebar-btn{
        div{
          @include icon('cancel', $white);
          &:before{
            position: absolute;
            display: inline-block;
            font-size: 1em;
            margin: 0;
            padding: 0;
            top: 10px;
            bottom: initial;
            right: 10px;
            left: initial;
          }
        }
      }
    }
  }
  .sidebar-content{
    overflow-y: auto;
    height: 100%;
    a.button{
      display: block;
    }
  }

}
